<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
</head>
    <body>

        <h1>Página principal de la base de datos</h1>
        <h2> Práctica 22 Servidor para API parte 4</h2>
        <p>Presione <strong>Agregar persona</strong> para añadir a una persona</p>
        <a href="./person.ejs">Agregar persona</a>
        <br>
        <p>Presione para ver el listado de las personas <strong>Listado</strong></p>
        <a href="./person.ejs">Listado</a><br>
        

        
        
            
    </body>
</html>